In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# read from local
df_covid = pd.read_csv("data/covid_clean_data.csv", sep=";", header=0, parse_dates = ['Date'])

In [19]:
# read from hdfs
from hdfs import InsecureClient

hdfs_client = InsecureClient('http://localhost:9870')

with hdfs_client.read('/project/covid_clean_data.csv', encoding = 'utf-8') as reader:
    df_covid = pd.read_csv(reader, sep=';', header=0, parse_dates = ['Date'])

In [24]:
df_covid

         Date  hospitalized  in intensive care  returning home  deceased
0  2020-03-18          2972                771             816       218
1  2020-03-19          4073               1002            1180       327
2  2020-03-20          5226               1297            1587       450
3  2020-03-21          5900               1453            1811       525
4  2020-03-22          6954               1674            2117       632
..        ...           ...                ...             ...       ...
56 2020-05-13         21009               2385           58664     17082
57 2020-05-15         19801               2162           60439     17323
58 2020-05-16         19372               2091           61057     17393
59 2020-05-17         19302               2047           61204     17447
60 2020-05-18         18956               1958           61719     17570

[61 rows x 5 columns]

In [25]:
# read from local
df_bourse = pd.read_csv("data/cac40_clean_data.csv", sep=";", header=0, parse_dates = ['Date'])

In [17]:
# read from hdfs
with hdfs_client.read('/project/cac40_clean_data.csv', encoding = 'utf-8') as reader:
    df_bourse = pd.read_csv(reader, sep=';', header=0, parse_dates = ['Date'])

In [26]:
df_bourse

         Date    Adj Close
0  2020-02-03  5832.509766
1  2020-02-04  5935.049805
2  2020-02-05  5985.399902
3  2020-02-06  6038.180176
4  2020-02-07  6029.750000
..        ...          ...
67 2020-05-11  4490.220215
68 2020-05-12  4472.500000
69 2020-05-13  4344.950195
70 2020-05-14  4273.129883
71 2020-05-15  4277.629883

[72 rows x 2 columns]

In [27]:
# Join df_bourse and df_covid based on shared dates
df_merge = pd.merge(df_bourse, df_covid, on='Date')
df_merge

,Date,Adj Close,hospitalized,in intensive care,returning home,deceased
0,2020-03-18,3754.840088,2972,771,816,218
1,2020-03-19,3855.500000,4073,1002,1180,327
2,2020-03-20,4048.800049,5226,1297,1587,450
3,2020-03-23,3914.310059,8673,2080,2567,860
4,2020-03-24,4242.700195,10176,2516,3281,1100
5,2020-03-25,4432.299805,12072,2935,4085,1388
6,2020-03-26,4543.580078,13879,3351,4947,1696
7,2020-03-27,4351.490234,15701,3758,5698,1995
8,2020-03-30,4378.509766,20946,5056,7923,3024
9,2020-03-31,4396.120117,22672,5496,9443,3523
10,2020-04-01,4207.240234,24543,5940,10934,4032
11,2020-04-02,4220.959961,26131,6305,12427,4503
12,2020-04-03,4154.580078,27302,6556,14007,5091
13,2020-04-06,4346.140137,29569,6948,17249,6494
14,2020-04-07,4438.270020,29871,7004,19336,7091
15,2020-04-08,4442.750000,30217,7019,21253,7632
16,2020-04-09,4506.850098,30608,6937,23205,8044
17,2020-04-14,4523.910156,32131,6599,28804,10129
18,2020-04-15,4353.720215,31623,6331,30952,10643
19,2020-04-16,4350.160156,31172,6139,32806,11053
20,2020-04-17,4499.009766,31061,5922,34414,11470
21,2020-04-20,4528.299805,30462,5584,37403,12505
22,2020-04-21,4357.459961,29984,5334,39175,12892
23,2020-04-22,4411.799805,29627,5127,40651,13225
24,2020-04-23,4451.000000,29113,4967,42082,13536
25,2020-04-24,4393.319824,28554,4785,43486,13841
26,2020-04-27,4505.259766,27954,4526,45506,14486
27,2020-04-28,4569.790039,27607,4392,46322,14676
28,2020-04-29,4671.109863,26736,4128,48221,15041
29,2020-04-30,4572.180176,26192,3947,49469,15231
30,2020-05-04,4378.229980,25472,3639,51363,15807
31,2020-05-05,4483.129883,24701,3375,52728,16041
32,2020-05-06,4433.379883,23912,3095,53963,16218
33,2020-05-07,4501.439941,23139,2911,55018,16367
34,2020-05-08,4549.640137,22657,2820,55773,16478
35,2020-05-11,4490.220215,22219,2666,56715,16801
36,2020-05-12,4472.500000,21530,2496,57776,16984
37,2020-05-13,4344.950195,21009,2385,58664,17082
38,2020-05-15,4277.629883,19801,2162,60439,17323

In [ ]:
# over the covid 61 rows and bourse 72 rows, 
# only 38 shared the same time points

In [7]:
df_merge.info()
# no null values found

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 38
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               39 non-null     datetime64[ns]
 1   Adj Close          39 non-null     float64
 2   hospitalized       39 non-null     int64
 3   in intensive care  39 non-null     int64
 4   returning home     39 non-null     int64
 5   deceased           39 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 2.1 KB

In [36]:
# write df to local
df_merge.to_csv('data/joined_cac40_covid_data.csv', sep=';', encoding='utf-8', index=False)

In [28]:
# write df to hdfs
with hdfs_client.write('/project/joined_cac40_covid_data.csv', encoding = 'utf-8') as writer:
    df_merge.to_csv(writer, sep=';', index=False)

In [31]:
# test read file saved to hdfs
with hdfs_client.read('/project/joined_cac40_covid_data.csv', encoding = 'utf-8') as reader:
    df_join = pd.read_csv(reader, sep=';', header=0, parse_dates = ['Date'])

In [32]:
df_join

,Date,Adj Close,hospitalized,in intensive care,returning home,deceased
0,2020-03-18,3754.840088,2972,771,816,218
1,2020-03-19,3855.500000,4073,1002,1180,327
2,2020-03-20,4048.800049,5226,1297,1587,450
3,2020-03-23,3914.310059,8673,2080,2567,860
4,2020-03-24,4242.700195,10176,2516,3281,1100
5,2020-03-25,4432.299805,12072,2935,4085,1388
6,2020-03-26,4543.580078,13879,3351,4947,1696
7,2020-03-27,4351.490234,15701,3758,5698,1995
8,2020-03-30,4378.509766,20946,5056,7923,3024
9,2020-03-31,4396.120117,22672,5496,9443,3523
10,2020-04-01,4207.240234,24543,5940,10934,4032
11,2020-04-02,4220.959961,26131,6305,12427,4503
12,2020-04-03,4154.580078,27302,6556,14007,5091
13,2020-04-06,4346.140137,29569,6948,17249,6494
14,2020-04-07,4438.270020,29871,7004,19336,7091
15,2020-04-08,4442.750000,30217,7019,21253,7632
16,2020-04-09,4506.850098,30608,6937,23205,8044
17,2020-04-14,4523.910156,32131,6599,28804,10129
18,2020-04-15,4353.720215,31623,6331,30952,10643
19,2020-04-16,4350.160156,31172,6139,32806,11053
20,2020-04-17,4499.009766,31061,5922,34414,11470
21,2020-04-20,4528.299805,30462,5584,37403,12505
22,2020-04-21,4357.459961,29984,5334,39175,12892
23,2020-04-22,4411.799805,29627,5127,40651,13225
24,2020-04-23,4451.000000,29113,4967,42082,13536
25,2020-04-24,4393.319824,28554,4785,43486,13841
26,2020-04-27,4505.259766,27954,4526,45506,14486
27,2020-04-28,4569.790039,27607,4392,46322,14676
28,2020-04-29,4671.109863,26736,4128,48221,15041
29,2020-04-30,4572.180176,26192,3947,49469,15231
30,2020-05-04,4378.229980,25472,3639,51363,15807
31,2020-05-05,4483.129883,24701,3375,52728,16041
32,2020-05-06,4433.379883,23912,3095,53963,16218
33,2020-05-07,4501.439941,23139,2911,55018,16367
34,2020-05-08,4549.640137,22657,2820,55773,16478
35,2020-05-11,4490.220215,22219,2666,56715,16801
36,2020-05-12,4472.500000,21530,2496,57776,16984
37,2020-05-13,4344.950195,21009,2385,58664,17082
38,2020-05-15,4277.629883,19801,2162,60439,17323